@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    font-family: poppins, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root{
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}
body{
    background: var(--text-color);
    color: var(--bg-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    /* background: var(--main-color); */
}

.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.logo .bx{
    font-size: 24px;
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 5rem;
}

.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}

.navbar a::after{
    content: "";
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}

.navbar a:hover::after{
    width: 100%;
}
.navbar .Films-active::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;

}
.btn{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;

}
.btn:hover{
    background: #ff2c1f;
}

.contaniner{
    width: 100%;
    min-height: 990px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2,3,7, 0.4);
}

.contaniner img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.home-text{
    z-index: 1000;
    padding: 0 150px;
}
.home-text span{
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
}

.home-text h1{
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.play{
    position: absolute;
    right: 4rem;
    bottom: 10%;
}

.play .bx{
    background: var(--bg-color);
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgb(2,3,7, 0.4);
    color: var(--main-color);
}

.play .bx:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 2s all linear;
}

.contain{
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 25px;
}
.text h1{
    font-size: 1rem;
}
.barre{
    height: 3px;
    width: 100%;
    background: var(--main-color);
    margin-top: 10px;
}
.toutMesimages{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.autresContenu{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.case1{
    height: 369px;
    width: 270px;
    border: 1px solid white;
}
.demiCase{
   width: 268px;
   height: 290px;
}
.demiCase img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text2{
    margin-top: 5%;
}
.newsletter{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    margin-top: 50px;
}

.newsletter h2{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.newsletter form{
    background: var(--bg-color);
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.newsletter form input{
    border: none;
    outline: none;
}

.newsletter form .email{
    width: 280px;
}
.barres{
    height: 70px;
    width: 100%;
    margin-top: 25px;
    background: white;
}

.barres p{
    color: black;
    text-align: center;
    align-items: center;
    padding-top: 20px;
}
